$color:#8262b5;
.header{
  &_top{
    padding: 17px 0 17px 0;
    font-family: 'Open Sans';
    background: url('../images/Top Menu BG.png') center center;
    &_left{
      margin: 0 0 0 30px;
      float: left;
      color: #525252;
    }
    &_right{
      float: right;
      margin: 0 30px 0 0;
      .text{
        
      }
      a{
        margin-left: 30px;
        color: #525252;
        &:hover{
          color: $color;
        }
      }
    }
  }
  &_bot{
    width: 100%;
    padding: 20px 30px 20px 30px;
    .navbar{
      width: 100%;
    }
    .menu{
      float: right;
      margin: 0;
    }
.menu a{
  font-family: 'Montserrat', 'Bold';
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: $color;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width:1199px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
    // color: white;
  }
  .menu{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
    color: white;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}

    &_logo{
      display: inline-block;
    }
    &_menu{
      float: right;
      margin: 0 auto;
      font-family: 'Montserrat', 'Bold';
      font-weight: bold;
      .menu.responsive{
        background-color: black;
        height: 100%;
        li{
          float: none;
          display: block;
          text-align: center;
          a{
            
          }
        }
      }
      ul{
        padding:0; 
        margin: 0;
        list-style: none;
        li {
          display: none;
          float: left;
          }
        a{
          padding: 10px;
          color: #000;
          &:hover {
            color: $color;
          }
        }
        .bars{
          & a{
            padding: 0;
            margin-left: 20px;
          }
        }
      }
    }
    &_right{
      font-family: 'Montserrat', 'Bold';
      font-weight: bold;
      float: right;
      a{
        margin: 0 0 0 30px;
        color: #000;
        &:hover{
          color: $color;
        }
      }
    }
  }
}