@media screen and (min-width: 320px) {
	.header{
		&_top{
			width: 100%;
			&_left{
				
			}
			&_right{
				.text{
					display: none;
				}
			}
		}
	}
}

@media screen and (min-width: 576px) {
	.content{
		.banner{
			&_right{
				&_bot{
					&_text{
						bottom: 30%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px){
	.header{
		&_top{
			&_left{
				margin: 0 0 0 30px;
				float: left;
			}
			&_right{
				float: right;
				margin: 0 30px 0 0;
			}
		}
	}
}

@media screen and (min-width: 992px){
	.header{
		&_top{
			&_right{
				.text{
					display: inline;
				}
			}
		}
	}
	.content{
		.banner{
			&_right{
				&_bot{
					.no-responsive{
						display: none;
					}
					.responsive{
						display: block;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px){
	.header{
		&_bot{
			display: flex;
		    align-content: center;
		    justify-content: space-between;
		    &_menu{
		    	li{
		    		a{
		    			margin: 0 10px;
		    		}
		    		&:not(.bars){
			           display: block!important;
			        }
		    	}
		    	.bars{
		    		display: none;
		    	}
		    	float: right;
		    }
		    &_right{
		    	display: block;
		    	.icon{
		    		display: none;
		    	}
		    }
		}
	}
}

@media screen and (max-width: 425px) {
	.header{
		&_bot{
			&_logo{
				width: 40%;
				img{
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.header{
		&_bot{
			&_logo{
				// margin-bottom: 30px;
			}
		}
	}
}

@media screen and (max-width: 768px){
	.content{
		.banner{
			&_left{
				&_text{
					span{
						font-size: 20px;
					}
				}
			}
		}
	}
	.footer{
		&_bot{
			&_left{
				text-align: center;
				float: none;
			}
			&_right{
				display: block;
				text-align: center;
				float: none;
			}
		}
	}
}

@media screen and (max-width: 991px){
	.content{
		.banner{
			&_left{
				padding: 0;
			}
			&_right{
				margin-top: 30px;
				padding: 0;
			}
		}
	}
	.footer{
		&_top{
			.space{
				display: none;
			}
		}
	}
}

@media screen and (max-width: 1199px){
	.header{
		&_bot{
			position: relative;
			&_menu{
				position: absolute;
				z-index: 1;
			    top: 70px;
			    height: 3000px;
			    right: 0;
			    width: 100%;
			    ul{
			    	li{
			    		a{
			    			color: white;
			    		}
			    	}
			    }
			}
			&_right{
			}
		}
	}
}